@model WebApp_Gaestebuch_Diederichs.ViewModels.GBListe
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
    <div style="width:80%;margin:auto;background-color:red;padding:10px;border-radius:10px">
        <h1>Besucher-Gästebuch</h1>
        
            <a href="/home/insert">Neuer Eintrag</a>
        <br />
            <a href="/home/admin">Admin</a>

        @if (@Model.listeGaestebuch == null)
        {
            <h2>Noch keine Einträge im Gästebuch</h2>
        }
        else
        {
            <div>
                <form asp-action="Index" method="post">
                    <br />
                    <div>
                        <label asp-for="@Model.Filter"></label>
                        <br />
                        <input type="text" asp-for="@Model.Filter" />
                    </div>
                    <br />
                    <div>
                        <label asp-for="@Model.SortierTyp"></label><br />
                        <select asp-for="@Model.SortierTyp">
                            <option selected value="DateTimeDesc">Datum und Uhrzeit absteigend</option>
                            <option value="BewertBrauhaus">Brauhaus-Bewertung</option>
                        </select>
                    </div>

                    <br />
                    <button>Sortierung und Filter anwenden</button>
                </form>
            </div>
            <br />
            <div>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Titel</th>
                            <th scope="col">Name (Nick)</th>
                            <th scope="col">E-Mail</th>
                            <th scope="col">Hashtag Instagram</th>
                            <th scope="col">Hashtag Twitter</th>
                            <th scope="col">Bewertung der Bedienung</th>
                            <th scope="col">Bewertung des Brauhauses</th>
                            <th scope="col">Eintrag</th>
                            <th scope="col">Datum</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var eintrag in @Model.listeGaestebuch)
                        {
                            <tr>
                                <td>@eintrag.Titel</td>
                                <td>@eintrag.NickName</td>
                                <td>@eintrag.EMail</td>
                                <td>@eintrag.InstagramHashtag</td>
                                <td>@eintrag.TwitterHashtag</td>
                                <td>@eintrag.BewertBedienung</td>
                                <td>@eintrag.BewertBrauhaus</td>
                                <td>@eintrag.Eintrag</td>
                                <td>@eintrag.Datum</td>

                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        }
    </div>
</body>
</html>
